# --- BASE ---
numpy
mysql-connector-python

# --- VISIÓN Y PROCESAMIENTO ---
opencv-python
Pillow

# --- IA Y DEEP LEARNING ---
torch
torchvision
transformers
laion-clap

# --- AUDIO (Correcciones para FFmpeg y lectura) ---
librosa
soundfile
audioread
yt-dlp

# --- CLASIFICACIÓN Y MÉTRICAS ---
scikit-learn
scipy

# --- UTILIDADES ---
tqdm
python-dotenv